<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>MTG web application</display-name>

    <!-- Configuración del servlet LoginServlet -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Torneos.servlet.LoginServlet</servlet-class>
    </servlet>

    <!-- Mapeo del servlet LoginServlet -->
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <!-- Configuración del servlet LogoutServlet -->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Torneos.servlet.LogoutServlet</servlet-class>
    </servlet>

    <!-- Configuración del servlet LogoutServlet para la URL /Logout -->
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>

</web-app>
